@using System.Security.Claims

<div class="navbar">
  <p class="nav-logo">FactorySystem</p>
  <p class="nav-button">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="nav-button">@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>
  <p class="nav-button">@Html.ActionLink("See all Machines", "Index", "Machines")</p>
</div>