@{
  Layout = "_Layout";
}
<h1>Welcome to the Factory!</h1>
<div class="button-group">
  <p class="button margin-right">@Html.ActionLink("All","All")</p> 
  <p class="button">@Html.ActionLink("Machines","Index", "Machines")</p> 
  <p class="button">@Html.ActionLink("Engineers", "Index", "Engineers")</p> 
</div>